@font-face {
    font-family: Bebaskai;
    src: url(BebasKai.woff2);
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    background-color: #f5f5f8;
    color: #6e6e6e;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Bebaskai', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: #333;
}

.label {
    color: #5e5e5e;
    font-weight: bold;
}

.container-main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
}
.row--form {
    background-image: url(bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    flex-grow: 1;
}

.formContainer {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 12px rgba(0, 0, 0, .4);  
    position: absolute;
    height: calc(90vh - 150px);
    width: 50vw;
    min-width: 800px;
    max-width: 50vw;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.form-control {
    background-color: #f4f4f4;
}


/* FORM HEADER */
.form-header {
    display: flex;
    border-bottom: 1px solid #e3e3e3;
    margin-bottom: 2rem;
    padding-bottom: 15px;
}

.form-header-title {
    align-self: center;
    color: #000;
    flex-grow: 1;
    margin: 0;
}

.form-header-logo {
    max-height: 60px;
}


/* FORM BODY */
.form-body {
    overflow-y: auto; 
    flex-grow: 1;
}

.tab {
    display: none;
    height: calc(100% - 3rem);
    overflow-y: auto;
}



/*  STEPS */
.steps {
    position: absolute;
    bottom: 1.5rem;
    left: 50%;
    transform: translateX(-50%);
}

.step {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #8e8e8e;
    display: inline-block; 
    margin: 0 5px;
}
.step.active {
    background-color: #ca0000;
}


/* NAVIGATION */
.navSubmit {
    position: absolute;
    bottom: 1rem;
    right: 3rem;
    text-align: right;
}

.submitBtn {
    display: none;
}



/* FOOTER */
.row--footer{
    border-top: 1px solid #cecece;
    font-size: 10px;
    padding: 1rem 0;
    position: fixed;
    bottom: 0;
    background-color: rgba(227, 229, 236, 0.6);
}

.row--footer h2 {
    font-size: 16px;
    font-weight: bold;
}